<div class="container vh-100" style="background-color: #f8f9fa;">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-md-4"> <!-- Adjust column width as needed -->
            <div class="card my-auto shadow" style="border-radius: 10px;">
                <div class="card-body px-5">
                    <div class="text-center">
                        <i class="fas fa-lock fa-3x" style="color: #007bff;"></i>
                    </div>
                    <div class="text-center">
                        <h2 style="margin-top: 20px;">Welcome</h2>
                    </div>
                    <p style="color: lightslategray; text-align: center; margin-bottom: 20px;">
                        Please enter your login details
                    </p>
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <input type="email" id="email" placeholder="Email" class="form-control" formControlName="email" name="email" style="border-radius: 5px;"/>
                        </div>
                        <div class="form-group">
                            <input type="password" id="password" placeholder="Password" class="form-control" formControlName="password" name="password" style="border-radius: 5px;"/>
                        </div>
                        <input type="submit" class="btn btn-primary w-100" value="Login" style="border-radius: 5px;"/>
                    </form >
                </div>
                <div class="card-footer text-right">
                    <small>
                        <a routerLink="../forgot-password" style="text-decoration: none; color: #007bff;">Forgot Password</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
